html {
    font-size: 10px;
}

body {
    font-size: 2.4rem;
    background-image: url(../images/fone.jpg);
}

.wrapper {
    width: 75%;
    margin: 0 auto;
    background-color: white;
    margin-top: 80px;
    margin-bottom: 80px;
}

header {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00afbe;
    color: white;
    font-size: 3.0rem;
    padding: 20px;
}

h1 {
    background: #f9f9f9;
    background: -moz-linear-gradient(left, #f5c772 4%,#ffff00 12%,#00e9ff 23%,#00f762 31%,#00f762 30%,#e893b2 53%,#ea97b5 60%,#00f1f9 68%,#00f1f9 75%,#19fc00 81%,#e7fc02 87%,#f6c873 97%);
    background: -webkit-linear-gradient(left, #f5c772 4%,#ffff00 12%,#00e9ff 23%,#00f762 31%,#00f762 30%,#e893b2 53%,#ea97b5 60%,#00f1f9 68%,#00f1f9 75%,#19fc00 81%,#e7fc02 87%,#f6c873 97%);
    background: linear-gradient(to right, #f5c772 4%,#ffff00 12%,#00e9ff 23%,#00f762 31%,#00f762 30%,#e893b2 53%,#ea97b5 60%,#00f1f9 68%,#00f1f9 75%,#19fc00 81%,#e7fc02 87%,#f6c873 97%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#efefef',GradientType=1 );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 10.0rem;
    margin: 20px;
}

main {
    padding: 30px;
}

form {
    display: flex;
    justify-content: center;
    margin: 20px;
}

select {
    padding: 10px 20px;
    font-size: 2.0rem;
    margin: 0 10px;
    width: 240px;
    background-color: #eefffc;
}

button {
    margin: 0 10px;
    padding: 20px 30px;
    background-color: #10d049;
    color: white;
    font-size: 2.0rem;
    cursor: pointer;
}

button:hover {
    background-color: #368c3a;
}

.weather__container {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.weather__block {
    width: 60%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #efeeee;
    margin: 10px auto;
    background-color: #00afbe;
    color: white;
    font-family: sans-serif;
    font-size: 3.0rem;
}

.weather__block.ng-enter {
    transition: all 0.6s linear;
    opacity: 0;
}

.weather__block.ng-enter.ng-enter-active {
  opacity: 1;
}

.weather__block.ng-leave {
    animation: 0.5s my_animation;
  }
  
  @keyframes my_animation {
    from { opacity: 1; }
    to   { opacity: 0; }
  }

.weather__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.city__name {
    min-width: 15%;
    justify-content: flex-start;
    padding-right: 0;
}

.weather__item.icon {
    min-width: 25%;
}

.weather__item.city__remove__icon {
    font-size: 3rem;
    font-family: Tahoma;
    cursor: pointer;
    color: #e995b4;;
    justify-content: flex-end;
    align-self: flex-start;
    padding: 0;
}

i:before {
    font-family: weathericons;
    font-size: 5rem;
}

i.fa-window-close:before {
    font-family: "Font Awesome 5 Free";
    font-size: 4rem;
}

.fa-window-close {
    margin-top: -3px;
}

.weather__item.city__remove__icon:hover {
    color: #b70000;
}