<div class="wrapper">
    <header>
        <h1>Weather</h1>
        <p>Do you want to know the weather now? Choose a city and press button.</p>
        <!-- <p><i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i></p> -->
    </header>
    <main>
        <sities-list cities="cities" cities-item="citiesItem" sities-list="sitiesList" weather-service="weatherService" ></sities-list>
        <weather-list sities-list="sitiesList" add-city='addCity'remove='remove(sitiesList, $index)' ></weather-list>
    </main>
    <footer></footer>
</div>