<div class="weather__container" >
    <div ng-repeat="city in sitiesList track by $index" class="weather__block">
        <span class="weather__item city__name">{{city.name}}</span>
        <span class="weather__item icon"> <i class="wi-forecast-io-{{city.icon}}"></i></span>
        <span class="weather__item">{{city.temperature | number:1}} °C</span>
        <span class="weather__item city__remove__icon" ng-click="remove(sitiesList, $index)"> <i class="fas fa-window-close"></i> </span>
    </div>
</div>
